.upper-container {
  width: 100%;
  height: 30%;
  background-color: #f3b9ad;
  display: flex;
}

.screen-left {
  display: flex;
  width: 45%;
}

.music-svg {
  width: 100%;
  margin-left: 20px;
}

.screen-right {
  width: 55%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-contents {
  text-align: right;
  margin-right: 10%;
}

.right-title {
  font-size: 45px;
  color: white;
  font-weight: 500;
}

.right-subtitle {
  font-size: 35px;
  color: white;
  font-weight: 500;
}

.library-body {
  width: 80%;
  height: 450px;
  padding: 3%;
  padding-left: 9%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-between;
}

.playlist-card {
  position: relative;
  width: 13%;
  height: 26%;
  border-radius: 16px;
  background-color: #acb9cf;
  border: 1px solid #a6a1a1;
  margin-bottom: 2%;
  background: rgb(143, 170, 215);
  background: linear-gradient(
    90deg,
    rgba(143, 170, 215, 1) 0%,
    rgba(143, 170, 215, 1) 44%,
    rgba(124, 184, 196, 1) 100%
  );
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  margin-left: 50px;
}

.playlist-card:hover {
  transform: scale(1.05);
}

.playlist-card:hover .album-fade {
  opacity: 1;
}

.album-image {
  width: 120%;
  height: 120%;
  /* aspect-ratio: 1; */
  border-radius: 10px;
}

.album-title {
  font-weight: 800;
  font-style: 16px;
  color: rgb(31, 27, 27);
  margin: 10px 0px 10px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.album-subtitle {
  font-weight: 600;
  font-size: 12px;
  margin: 0px;
  color: #0109177c;
}

.album-fade {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  top: 89%;
  left: 0%;
  width: 88%;
  height: 12%;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(129, 165, 172, 0) 10%,
    rgb(129, 165, 172, 1) 100%
  );
  padding: 9%;
  /* padding-bottom: 0%; */
  transition: 0.5s ease;
  display: flex;
  justify-content: space-between;
}

.favorite-button {
  border: none;
  padding: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: #7db6c5;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-top: 5px;
}

.favorite-button:before {
  content: "";
  background: linear-gradient(45deg, #00ffd5, #fdfcfe, black);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 80%;
}

.favorite-button:active {
  color: #7db6c5;
}

.favorite-button:active:after {
  background: transparent;
}

.favorite-button:hover:before {
  opacity: 1;
}

.favorite-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #7db6c5;
  left: 0;
  top: 0;
  border-radius: 80%;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
